:root {
  --spaceKittyPurp: rgb(59, 27, 80);
  --spaceKittyTeal: rgba(32, 235, 235, 0.753);
  --spaceKittyBlurple: rgba(151, 11, 194, 0.239);
}

body {
  background: var(--spaceKittyTeal);
  background: radial-gradient(circle, rgba(128,240,233,1) 0%, rgba(129,219,234,1) 27%, rgba(131,121,241,1) 92%);
  background-size: cover;
  color: rgb(208, 255, 255);
  text-shadow: 0 0 .25rem var(--spaceKittyPurp)

}

body::after {
  content: "";
  background: url(../media/space-pizza-cat.jpg) no-repeat fixed;
  background-size: cover;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

h1, h3 {
  font-family: 'Bungee Outline', cursive;
  color: var(--spaceKittyPurp);
  font-weight: bolder;
  text-shadow: 0 0 .2rem var(--spaceKittyTeal);
}

header {
  text-align: center;
}

.col-custom {
  background: var(--spaceKittyBlurple);
  padding: 3rem;
  margin: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem var(--spaceKittyTeal);
}

.btn-custom {
  background: var(--spaceKittyTeal);
  color: var(--spaceKittyPurp);
}

.btn-custom:hover {
  background: var(--spaceKittyPurp);
  color:var(--spaceKittyTeal);
}

hr {
  height: 12px;
}