:root {
  --spaceKittyPurp: rgb(77, 37, 104);
  --spaceKittyTeal: rgb(1, 165, 165);
}

body {
  background: var(--spaceKittyTeal);
  background: radial-gradient(circle, rgba(128,240,233,1) 0%, rgba(129,219,234,1) 27%, rgba(131,121,241,1) 92%);
  background-size: cover;
  color: var(--spaceKittyPurp);
}

body::after {
  content: "";
  background: url(../media/space-pizza-cat.jpg) no-repeat fixed;
  background-size: cover;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

header {
  text-align: center;
}

.col-custom {
  background: rgba(0, 0, 255, 0.15);
  padding: 3rem;
  margin: 3rem;
  border-radius: 2rem;
  box-shadow: 0 0 .5rem var(--spaceKittyTeal);
}

.btn-custom {
  background: var(--spaceKittyTeal);
  color: var(--spaceKittyPurp);
}

.btn-custom:hover {
  background: var(--spaceKittyPurp);
  color:var(--spaceKittyTeal);
}

hr {
  height: 12px;
}